
<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-top" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Home</a>
	    </div>
	    <div class="collapse navbar-collapse" id="nav-top">
	    	<ul class="nav navbar-nav navbar-right">
	    		<li><a href="javascript:void(0)" title="thoát">
	    			<script>
						document.write(localStorage.spName);
					</script>
	    		</a></li>
	    		<li><a href="javascript:void(0)" title="thoát" id="logoutSp">Thoát</a></li>
	    	</ul>
	    </div>
	</div>
</nav>