<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-top" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/managechat">Quản trị chung</a>
	    </div>
	    <div class="collapse navbar-collapse" id="nav-top">
	    	<ul class="nav navbar-nav navbar-right">
	    		<li><a href="/login" title="">Chat tư vấn khách hàng</a></li>
	    		<li><a href="/chathistory" title="">QL lịch sử chat</a></li>
				<li><a href="/rate/show" title="">QL đánh giá</a></li>
	    		<li><a href="/customer/show" title="">QL customer</a></li>
	    		<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">QL suppoter <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="/supporter/show">Hiển thị danh DS supporter</a></li>
		            <li><a href="/supporter/add">Thêm supporter</a></li>
		          </ul>
		        </li>
	    	</ul>
	    </div>
	</div>
</nav>