<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="page-header">
				<h1 class="text-center">Thêm mới supporter</h1>
			</div>
			<form action="" method="post" accept-charset="utf-8">
				<div class="form-group">
					<label>Họ tên</label>
					<input type="text" name="fullname" value="" placeholder="Fullname" class="form-control">
				</div>
				<div class="form-group">
					<label>Giới tính</label>
					<select class="form-control" name="gender>
						<option value="Nam">Nam</option>
						<option value="Nữ">Nữ</option>
					</select>
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" value="" placeholder="Email address" class="form-control">
				</div>
				<div class="form-group">
					<label>Số điện thoại</label>
					<input type="tel" name="phone" value="" placeholder="Phone number" class="form-control">
				</div>
				<div class="form-group">
					<label>Bộ phận hỗ trợ</label>
					<select name="type" class="form-control">
						<option value="1">Tư vấn mua hàng</option>
						<option value="2">Hỗ trợ kỹ thuật</option>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success">Lưu lại</button>
				</div>
			</form>
		</div>
	</div>
</div>