<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-top" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>
	    <div class="collapse navbar-collapse" id="nav-top">
	    	<ul class="nav navbar-nav">
	    		<li><a href="" title="">ABCCC1</a></li>
	    		<li><a href="" title="">ABCCC2</a></li>
	    		<li><a href="" title="">ABCCC3</a></li>
	    	</ul>
	    </div>
	</div>
</nav>