<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel">
				<div class="panel-body">
					 <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                dfgdfgfdg
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel">
				<div class="panel-body">
					sdfsfsdf
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel">
				<div class="panel-body">
					sdfsfsdf
				</div>
			</div>
		</div>
	</div>
</div>