<% include partials/header %>
<% include partials/navbar %>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-xs-6">
			<div class="panel panel-info">
				<div class="panel-heading">
                    <h4 class="x30">Quản lý supporter <span class="glyphicon glyphicon-user pull-right"></span></h4> 
                </div>
                <div class="panel-footer">
                    <a href="/supporter/show" title="Quản lý supporter">Truy cập quản lý supporter >> </a><span class="glyphicon glyphicon-arrow-right pull-right"></span>
                </div>
			</div>
		</div>
		<div class="col-md-4 col-xs-6">
			<div class="panel panel-success">
				<div class="panel-heading">
                 	<h4 class="x30">Quản lý lịch sử chat <span class="glyphicon glyphicon-th-list pull-right"></span></h4>
                </div>
                <div class="panel-footer">
                    <a href="/chathistory" title="Quản lý chat">Truy cập quản lý lịch sử chat >> </a><span class="glyphicon glyphicon glyphicon-arrow-right pull-right"></span>
                </div>
			</div>
		</div>
		<div class="col-md-4 col-xs-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
                 	<h4 class="x30">Quản lý đánh giá <span class="glyphicon glyphicon-star pull-right"></span></h4>
                </div>
                <div class="panel-footer">
                    <a href="/rate/show" title="Quản lý chat">Truy cập quản lý đánh giá >> </a><span class="glyphicon glyphicon glyphicon-arrow-right pull-right"></span>
                </div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>